<h1>New Vehicle</h1>

<form (ngSubmit)="submit()" #f="ngForm" novalidate>
  <!-- Make Drop Down -->
  <h4>Make / Model</h4>
  <div class="form-group">
    <label for="make">Make</label>
    <select
      (change)="onMakeChange()"
      [(ngModel)]="vehicle.makeId"
      class="form-control"
      id="make"
      name="makeId"
      required
      #make="ngModel"
    >
      <option></option>
      <option *ngFor="let m of makes" value="{{ m.id }}">{{ m.name }}</option>
    </select>
    <div *ngIf="make.touched && !make.valid" class="alert alert-danger">
      Please specify the make.
    </div>
  </div>

  <!-- Model Drop Down -->
  <div class="form-group">
    <label for="model">Model</label>
    <select
      class="form-control"
      id="model"
      name="modelId"
      [(ngModel)]="vehicle.modelId"
      required
      [disabled]="!make.valid"
      #model="ngModel"
    >
      <option></option>
      <option *ngFor="let m of models" value="{{ m.id }}">{{ m.name }}</option>
    </select>
    <div *ngIf="model.touched && !model.valid" class="alert alert-danger">
      Please specify the model.
    </div>
  </div>

  <!-- Feature Checkboxes -->
  <h4>Features</h4>
  <div *ngFor="let f of features" class="form-check">
    <input
      class="form-check-input"
      id="feature{{ f.id }}"
      type="checkbox"
      (change)="onFeatureToggle(f.id, $event)"
      [checked]="vehicle.features.includes(f.id)"
    />
    <label class="form-check-label" for="feature{{ f.id }}">{{ f.name }}</label>
  </div>

  <br />

  <!-- Registration Check -->
  <h4>Is this vehicle registered?</h4>
  <div class="form-check">
    <input
      checked
      class="form-check-input"
      id="registered_yes"
      name="registered"
      type="radio"
      [value]="true"
      [(ngModel)]="vehicle.isRegistered"
    />
    <label class="form-check-label" for="registered_yes"> Yes </label>
  </div>
  <div class="form-check">
    <input
      class="form-check-input"
      id="registered_no"
      name="registered"
      type="radio"
      [value]="false"
      [(ngModel)]="vehicle.isRegistered"
    />
    <label class="form-check-label" for="registered_no"> No </label>
  </div>

  <br />

  <!-- Contact Form -->
  <h4>Contact</h4>

  <!-- Name Input -->
  <div class="form-group">
    <label for="name">Name</label
    ><input
      class="form-control"
      id="name"
      type="text"
      [(ngModel)]="vehicle.contact.name"
      name="contactName"
      required
      #name="ngModel"
    />
  </div>
  <div *ngIf="name.touched && !name.valid" class="alert alert-danger">
    Please enter the contact's name.
  </div>

  <!-- Phone Input -->
  <div class="form-group">
    <label for="phone">Phone</label
    ><input
      class="form-control"
      id="phone"
      type="tel"
      [(ngModel)]="vehicle.contact.phone"
      name="contactPhone"
      required
      #phone="ngModel"
    />
  </div>
  <div *ngIf="phone.touched && !phone.valid" class="alert alert-danger">
    Please enter the contact's phone number.
  </div>

  <!-- Email Input -->
  <div class="form-group">
    <label for="email">Email</label
    ><input
      class="form-control"
      id="email"
      type="email"
      [(ngModel)]="vehicle.contact.email"
      name="contactEmail"
      required
      #email="ngModel"
    />
  </div>
  <div *ngIf="email.touched && !email.valid" class="alert alert-danger">
    Please enter the contact's email.
  </div>

  <button [disabled]="!f.valid" class="btn btn-primary">Submit</button>{{ ' ' }}
</form>
