<form>
  <h4>Make / Model</h4>
  <div class="form-group">
    <label for="make">Make</label>
    <select
      (change)="onMakeChange()"
      [(ngModel)]="vehicle.make.id"
      class="form-control"
      id="make"
      name="make"
    >
      <option></option>
      <option *ngFor="let m of makes" value="{{ m.id }}">{{ m.name }}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="model">Model</label>
    <select
      (change)="onModelChange()"
      [(ngModel)]="vehicle.model.id"
      [disabled]="!enableModelSelection"
      class="form-control"
      id="model"
      name="model"
    >
      <option></option>
      <option *ngFor="let m of models" value="{{ m.id }}">{{ m.name }}</option>
    </select>
  </div>

  <h4>Features</h4>

  <div *ngFor="let f of features" class="form-check">
    <input class="form-check-input" id="feature{{ f.id }}" type="checkbox" />{{
      f.name
    }}
    <label class="form-check-label" for="feature{{ f.id }}"> </label>
  </div>

  <br />

  <h4>Is this vehicle registered?</h4>

  <div class="form-check">
    <input
      checked
      class="form-check-input"
      id="registered_yes"
      name="registered"
      type="radio"
      value="yes"
    />
    <label class="form-check-label" for="registered_yes"> Yes </label>
  </div>
  <div class="form-check">
    <input
      class="form-check-input"
      id="registered_no"
      name="registered"
      type="radio"
      value="no"
    />
    <label class="form-check-label" for="registered_no"> No </label>
  </div>

  <br />
  <h4>Contact</h4>

  <div class="form-group">
    <label for="name">Name</label
    ><input class="form-control" id="name" type="text" />
  </div>
  <div class="form-group">
    <label for="phone">Phone</label
    ><input class="form-control" id="phone" type="tel" />
  </div>
  <div class="form-group">
    <label for="email">Email</label
    ><input class="form-control" id="email" type="email" />
  </div>

  <button class="btn btn-primary">Submit</button>
</form>
